aiohttp
cowpy
emoji
gTTS-token>=1.1.3
gTTS>=2.0.1
gitpython
google-api-python-client
oauth2client
google_images_download>=2.7.1
googletrans>=4.0.0-rc1
hachoir
pybase64>=0.4.0
python-dotenv
pytube>=9.5.1
youtube-dl
pytz
telegraph
telethon>=1.10.6
urbandict>=0.5
wikipedia>=1.4.0
search-engine-parser>=0.4.2
spotify_token
pymongo[srv]
redis
dnspython
lxml
humanize
aria2p
async_generator
bs4
cryptg
google-auth-oauthlib
httplib2
psycopg2
psycopg2-binary
pylast
pySmartDL
python-barcode
qrcode
sqlalchemy>=1.2
telethon-session-sqlalchemy>=0.2.6
pyDownload
PyDrive
psutil
